<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0">
    <meta name="apple-mobile-web-app-capable" content="yes">
    
    <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&amp;subset=latin,cyrillic-ext,greek-ext,greek,vietnamese,latin-ext,cyrillic" rel="stylesheet" type="text/css">
    <link rel="shortcut icon" type="image/png" href="https://appscyclone.com/xmas/media/themes/people/assets/images/favicon.png"/>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <title> {{ page_title }}</title>

</head>
<body class="lightsnow">
    {% block content %}{% endblock %}

    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="./scripts/index.js" defer></script>


{% block scripts %}
{% endblock %}
</body>
</html>