/*
    IMPORT
*/

// @import "./import/**/*";
/*
    COMPONENTS
*/

// @import "./components/*";
/*
    LAYOUTS
*/

//  @import "./layouts/**/*";
@import "./layouts/page.scss";
@import "./layouts/fonts.scss";
@import "./theme/style.scss";
@import "./theme/theme1.scss";
/*
    ORGIN
*/

// @import "./origin/**/*";
body {
    -webkit-tap-highlight-color: transparent !important;
    background-image: url('../assets/images/button.png');
}

.checkin {
    float: right;
}

.logo {
    text-align: center;
    width: 100%;
    margin: 0 auto; // padding-bottom: 30px;
    max-width: 255px;
}

.checkin_bg {
    z-index: 1;
    position: absolute;
    background-image: url('../assets/images/bg.jpg');
    background-size: cover;
    width: 100%;
    height: 100vh;
    img {
        height: 100vh;
        width: 100%;
    }
}

.iceWrap {
    width: 100%;
    height: 71px;
    background: url('http://www.profmethemes.com/Theme/Noelle/assets/images/General/ice.png') repeat-x bottom left;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

.treeWrap {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    .treeWrap_content {
        position: absolute;
        bottom: 20px;
    }
    .treeWrap_tree {}
    .yourMessageWrap {
        // width: 441px;
        // height: 210px;
        // overflow: hidden;
        // position: absolute;
        // bottom: 38px;
        // left: 50%;
        // margin-left: -220px;
        // background: url('http://www.profmethemes.com/Theme/Noelle/assets/images/Tree/messageArea.png') no-repeat center;
        z-index: 2;
        span.message {
            display: block;
            margin-top: 60px;
            text-align: center;
            font-size: 33px;
            color: #FFF;
            text-shadow: 2px 2px 2px #000;
        }
    }
}

.treeWrap_bell {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 10px;
    z-index: 3;
    padding-right: 30px;
}

.poster {
    display: none;
    position: absolute;
    max-width: 345px;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
}

.bell-music {
    position: absolute;
    bottom: 0;
    img {
        max-width: 125px;
    }
}

.checkin_form {
    position: absolute;
    width: 100%;
    z-index: 3;
    top: 10vh;
    padding-left: 30px;
    padding-right: 20px;
    form {
        padding: 15px;
        border-radius: 15px;
        padding-bottom: 15px;
        padding-top: 30px;
        background-image: url('http://www.profmethemes.com/Theme/Noelle/assets/images/General/paper.png')
    }
    .checkin_form-hat {
        position: absolute;
        top: -10px;
        left: 9px;
        z-index: 100;
        width: 60px;
    }
    select {
        height: 40px;
        border: 1px solid;
        border-radius: 25px;
        background: transparent;
        width: 100%;
        padding: 0 17px;
        outline: none;
        cursor: pointer;
        &:focus {
            background-color: transparent
        }
    }
    .updload_img {
        border: none;
    }
}

.checkin_submit {
    background-image: url('../assets/images/button.png');
    background-size: contain;
    width: 120px;
    height: 45px;
    line-height: 50px;
    cursor: pointer;
    z-index: 2;
    border: none;
    background-color: transparent;
    bottom: -60px;
    color: #fff;
    font-size: 17px;
    background-repeat: no-repeat;
    float: none;
    margin-top: 20px;
    margin: 0 auto;
    padding: 0;
}

#number {
    display: block;
    font-size: 20px;
    color: red;
    font-family: 'Lobster', cursive;
    padding: 20px 0;
    padding-bottom: 10px;
    span {
        display: block;
    }
    .lucky_text {
        font-size: 40px;
    }
    .lucky_number {
        font-size: 100px;
    }
}

.checkin_loading {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    z-index: 99;
    background-color: #000;
    opacity: 0.2;
    transition: all 0.5s
}

.loading-checkin {
    transition: all 0.5s;
    display: none;
    img {
        max-width: 24px;
        margin: 0 auto;
        margin-top: 5px;
    }
}