    <div class="overlay">
       

        <div class="iceWrap"></div>

        

        <div class="treeWrap">
            <div class="treeWrap_content">
                <div class="treeWrap_bell">
                    <img src="http://www.profmethemes.com/Theme/Noelle/assets/images/Tree/bell.png" alt="">
                </div>
                <div class="treeWrap_tree">
                    <img src="http://www.profmethemes.com/Theme/Noelle/assets/images/Tree/tree.png" alt="">
                </div>

                <div class="bell-music ">
                    <img src="./assets/images/bell-music.png" alt="">
                </div>

                <div class="poster">
                    <img src="http://www.profmethemes.com/Theme/Noelle/assets/images/Tree/messageArea.png" alt="">
                </div>
                <!-- <div class="yourMessageWrap">
                    
                    <span class="message" style="display: block;"><span class="char1" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(12px) rotate(-13deg);">H</span><span
                                        class="char2" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(8px) rotate(-10deg);">a</span><span
                                        class="char3" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(6px) rotate(-9deg);">p</span><span
                                        class="char4" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(3px) rotate(-7deg);">p</span><span
                                        class="char5" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(1px) rotate(-5deg);">y</span><span
                                        class="char6 empty" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) rotate(-3deg);">&nbsp;</span><span
                                        class="char7" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) rotate(-1deg);">N</span><span
                                        class="char8" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) rotate(0deg);">e</span><span
                                        class="char9" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(0px) rotate(2deg);">w</span><span
                                        class="char10 empty" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(1px) rotate(4deg);">&nbsp;</span><span
                                        class="char11" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(3px) rotate(6deg);">Y</span><span
                                        class="char12" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(6px) rotate(9deg);">e</span><span
                                        class="char13" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(8px) rotate(10deg);">a</span><span
                                        class="char14" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(11px) rotate(12deg);">r</span><span
                                        class="char15" style="display: inline-block; transition: none 0s ease 0s; transform: translateX(0px) translateY(14px) rotate(13deg);">s</span></span>
                </div> -->
            </div>
        </div>

        <div class="checkin_bg"></div>

        <div class="checkin_form">
            <div class="checkin_form-hat">
                <img src="http://www.profmethemes.com/Theme/Noelle/assets/images/Tree/hat.png" alt="">
            </div>
            <form id="idForm">
                <div class="logo">
                    <img src="https://appscyclone.com/templates/cyclone/images/apps-cyclone.png" alt="">
                </div>
                <div id="number">
                    <span class="lucky_text"></span>  
                    <span class="lucky_number"></span>  
                </div>

                <div class="form-group">
                    <select id="all-people" name="id" class="form-control">
                        <option selected value="" disabled>Select Your Name</option>
                    </select>
                </div>
            
                <div class="form-group">
                    <input class="updload_img" type="file" name="photo" accept="image/*">
                </div>
                <button class="checkin_submit" type="button" >
                    <span class="loading-checkin">
                        <img src="https://acreati.com/app/webroot/img/ajax-loader.gif" alt="">
                    </span>
                    <span class="text-checkin">Check In</span>
                </button>
                <span style="color:red; display:block; padding-top: 10px;" id="error"></span>
            </form>
        </div>
      
    </div>

    <div class="snow" style="display: block"></div>

    <audio controls autoplay="true" loop style="display: none;
    visibility: visible;
    position: absolute;
    top: 0;
    z-index: 99999999;
    right: 0;">
        <source src="http://themeenergy.com/themes/html/holiday-greetings/media/christmas.ogg" type="audio/ogg">
        <source src="http://themeenergy.com/themes/html/holiday-greetings/media/christmas.mp3" type="audio/mpeg">
        Your browser does not support the audio element.
    </audio>